# Файл с секретными API-ключами
.env

# Папка виртуального окружения Python
venv/
/venv/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Папка настроек PyCharm
.idea/

# Системные файлы macOS (если вы на Mac)
.DS_Store

# Лог-файлы (если вы их создаете)
*.log

# Другие специфичные для проекта временные файлы или папки
# например, папка для загрузок, если ваш бот что-то скачивает
# downloads/